@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
   background-color: #515A5A;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

/* HEADER ET MENU */

.logotxt {
    margin: 0;
    width: 20px;
    height: 20px;
}

.logo {
    cursor: pointer;
}

nav {
    background: transparent;
    height: 80px;
    width: 100%;
    align-items: flex-end;
    flex-wrap: nowrap;
}

label.logo {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    line-height: 80px;
    padding: 0 65px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, .anav:hover {
    background: #00aff0;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

#logohg {
    margin: 37px 0 0 10px;
}

@media screen and (max-width: 480px) {
    .checkbtn {
        display: block;
    }
    nav ul {
        background-color: #515A5A;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,a.active {
        background: #00aff0;
        color: white;
    }
    #check:checked ~ ul {
        left: 0;
    }
}

.text-white {
    color: white;
}

.h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 60px;
    display: flex;
    justify-content: center;
}

.atptour {

    width: 100%;
    margin: 20px auto auto auto;
    display: flex;
    justify-content: center;
}

#atptour {
    width: 40%;
    height: 40%;
}

.h3 {
    font-size: 30px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

#what-atp-div {
    font-family: 'Lato', sans-serif;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 20px;
    width: 90%;
    margin-left: 5%;
}

/* FICHE JOUEUR */



.classement {
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 5%;
}

.fiche_player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    text-align: center;
    text-justify: inter-word;
    border: 2px solid black;
    border-radius: 10px;
    margin: 15px 0 15px 0;
}
.fiche_player img {
    margin-top: 10px;
    border-radius: 10px;
}

.fiche_player p {
    margin-bottom: 10px;
}

.fiche_player h4 {
    margin: 10px 0 10px 0;
}

h2::after {
    content: "";
    display: block;
    height: 10px;
    background: white;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

h2:hover::after {
    transform: scale(1);
}